.popup {
    max-width: 430px;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    color: black;
    position: sticky;
    bottom: 44%;
}

@media screen and (max-width:690px) {
    .popup {
        width: 282px;
    }
}