.element__like {
    background-image: url(/images/Vector.svg);
    border: none;
    background-color: rgba(0, 0, 0, 0);
    width: 22px;
    height: 19px;
    padding-right: 15px;
    background-repeat: no-repeat;
}