.profile__edit-button {
    background-image: url(../../../images/Edit\ Button.svg);
    background-size: cover;
    height: 24px;
    width: 24px;
    background-color: #00000000;
    border: none;
    margin-left: 18px;
}

@media screen and (max-width:690px) {
    .profile__edit-button {
        height: 18px;
        width: 18px;
    }

}