.popup__content {
    max-width: 430px;
    width: 100%;
    background-color: #fff;
    position: relative;
    border-radius: 10px;
}

@media screen and (max-width: 400px) {
    .popup__content {
      max-width: 282px;
    }
  }