.elements {
    max-width: 880px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 17px;
    grid-row-gap: 20px;

}

@media screen and (max-width:690px) {
    .elements {
        grid-template-columns: 1fr;
        max-width: 282px;
    }

}
