.popup-photo-overlay {
    background-color: #000;
    max-width: 1280px;
    margin: 0 auto;
    color: white;
    font-family: 'inter', sans-serif;
}

.popup-photo-overlay::before {
    background-color: rgb(0, 0, 0);
    opacity: 0.9;
    width: 100%;
    height: 200vh;
    left: 0;
    position: absolute;
    z-index: 3;
    content: "";
}