@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/root/root.css);
@import url(../blocks/cover/cover.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__heading/profile__heading.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__wrapper/profile__wrapper.css);


@import url(../blocks/elements/elements.css);

@import url(../blocks/element/element.css);
@import url(../blocks/element/__photo/element__photo.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__like/_active/element__like-active.css);
@import url(../blocks/element/__header/element__header.css);
@import url(../blocks/element/__discription/element__discription.css);
@import url(../blocks/element/__delete/element__delete.css);

@import url(../blocks/footer/footer.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__heading/popup__heading.css);
@import url(../blocks/popup/__cross/popup__cross.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/_open/popup_open.css);
@import url(../blocks/popup/__caption/popup__caption.css);
@import url(../blocks/popup/__image/popup__image.css);


@import url(../blocks/popup-photo/__description/popup-photo__description.css);
@import url(../blocks/popup-photo/__cross/popup-photo__cross.css);
@import url(../blocks/popup-photo/__overlay/popup-photo__overlay.css);
@import url(../blocks/popup-photo/__element/popup-photo__element.css);
@import url(../blocks/popup-photo/__photo-content/popup__photo-content.css);
@import url(../blocks/popup-photo/__photo-container/popup__photo-container.css);
@import url(../blocks/popup-photo/popup_photo.css);














/* button:hover {
    cursor: pointer;
    opacity: 0.6;
} */

/* .cover {
    background-color: #000;
    max-width: 1280px;
    margin: 0 auto;
    color: white;
    font-family: 'inter', sans-serif;
} */

/* .root {
    background-color: #000;
    max-width: 1280px;
    margin: 0 auto;
    color: white;
    font-family: 'inter', sans-serif;
} */

/* .cover::before {
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    width: 100%;
    height: 130%;
    left: 0;
    position: absolute;
    content: "";
} */



/* .header {
    max-width: 880px;
    padding-top: 45px;
    border-bottom: solid #545454 1px;
    margin: 0 auto 40px auto;
}

@media screen and (max-width:690px) {
    .header {
        width: 100%;
    }

} */

/* .header__logo {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 41px;
    max-width: 142px;
    max-height: 33px;
}

@media screen and (max-width:690px) {
    .header__logo {
        margin-left: 27px;
    }

} */

/* .profile {
    max-width: 880px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

@media screen and (max-width:690px) {
    .profile {
        flex-direction: column;

    }

} */

/* .info {
    display: flex;
    align-items: center;
}

@media screen and (max-width:690px) {
    .info {
        flex-direction: column;

    }

} */

/* .info__wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

@media screen and (max-width:690px) {
    .info__wrapper {
        flex-direction: column;
        margin-top: 26px;
    }

} */

/* .info__heading {
    display: flex;
    align-items: baseline;
    margin-bottom: 16px;
} */

/* .info__title {
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0;
}

@media screen and (max-width:690px) {
    .info__title {
        font-weight: 500;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }

} */

/* .info__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
}

@media screen and (max-width:690px) {
    .info__subtitle {
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }

} */



/* .info__edit-button {
    background-image: url(../images/Edit\ Button.svg);
    background-size: cover;
    height: 24px;
    width: 24px;
    background-color: #00000000;
    border: none;
    margin-left: 18px;
}

@media screen and (max-width:690px) {
    .info__edit-button {
        height: 18px;
        width: 18px;
    }

} */


/* .profile__add-button {
    background-image: url(../images/Add\ Button.svg);
    width: 150px;
    height: 50px;
    background-color: #00000000;
    border: none;
}

@media screen and (max-width:690px) {
    .profile__add-button {
        width: 282px;
        margin-top: 36px;
        background-image: url(./images/Add\ Button320.svg);
    }

} */


/* .elements {
    max-width: 880px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 17px;
    grid-row-gap: 20px;

}

@media screen and (max-width:690px) {
    .elements {
        grid-template-columns: 1fr;
        max-width: 282px;
    }

} */

/* .element {
    color: black;
    max-width: 282px;
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
} */

/* .element__photo {
    width: 282px;
    height: 282px;
} */

/* .element__discription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 15px 31px 21px;

} */

/* .element__header {
    margin: 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
} */

/* .element__like {
    background-image: url(/images/Vector.svg);
    border: none;
    background-color: rgba(0, 0, 0, 0);
    width: 22px;
    height: 19px;
} */

/* .element__like-active {
    background-image: url(/images/like_ac.svg);
    border: none;
    background-color: rgba(0, 0, 0, 0);
    width: 22px;
    height: 19px;
}

.element__like:hover {
    opacity: 0.5;
} */

/* .footer {
    max-width: 880px;
    margin: 66px auto 60px auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}

@media screen and (max-width:690px) {
    .footer {
        max-width: 282px;
    }

} */


/* .popup {
    max-width: 430px;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    color: black;
    position: sticky;
    bottom: 44%;
}

@media screen and (max-width:690px) {
    .popup {
        width: 282px;
    }
} */

/* .popup__content {
    max-width: 358px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;

} */

/* .popup__heading {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 34px 0 54px 0;
}

@media screen and (max-width:690px) {
    .popup__heading {
        max-width: 238px;
        font-weight: 900;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        margin: 25px auto 75px auto;
    }
} */

/* .popup__input-name {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 13px;
    outline: none;
    z-index: 3;
}

@media screen and (max-width:690px) {
    .popup__input-name {
        max-width: 238px;
        margin: 0 auto 30px auto;
    }
} */


/* .popup__input-discription {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 13px;
    outline: none;
    z-index: 3;
}

@media screen and (max-width:690px) {
    .popup__input-discription {
        max-width: 238px;
        margin: 0 auto 30px auto;
    }
} */

/* .popup__button {
    background-color: #000;
    border: none;
    border-radius: 2px;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 37px;
    padding-top: 14px;
    padding-bottom: 18px;
    z-index: 3;
}

@media screen and (max-width:690px) {
    .popup__button {
        min-width: 238px;
        margin: 45px auto 25px auto;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
} */


/* .popup__button:hover {
    opacity: 0.8;
} */

/* .popup__cross {
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: #00000000;
    right: -40px;
    top: -40px;
    background-image: url("./images/Cross Icon.svg");
    border: none;
}


@media screen and (max-width:690px) {
    .popup__cross {
        width: 20px;
        height: 20px;
        top: -34px;
        right: 0;
        background-size: cover;
    }
} */